@{
    ViewData["Title"] = "Removing Add Button";
}

@section ContentHeader {
    <h1>@ViewData["Title"]<small></small></h1>
}

<div class="alert alert-info alert-dismissable alert-dismissible s-sample-info">
    <button type="button" class="close btn-close" data-dismiss="alert" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
    <p>
        This is a simple one, but neverthless is asked several times. How to remove Add button from the grid?
    </p>
    <p>
        See source code of @Html.BasicSamplesSourceFile("RemovingAddButtonPage.ts") for how.
    </p>

    <p class="s-sample-sources"><b>Source Files:</b> 
        @Html.BasicSamplesSourceFile("Index.cshtml"), 
        @Html.BasicSamplesSourceFile("RemovingAddButtonPage.ts")
    </p>
</div>

<div id="GridDiv"></div>

@Html.ModulePageInit(ESM.RemovingAddButtonPage)