@{
    ViewData["Title"] = "Wrapped Headers";
}

@section ContentHeader {
    <h1>@ViewData["Title"]<small></small></h1>
}

<div class="alert alert-info alert-dismissable alert-dismissible s-sample-info">
    <button type="button" class="close btn-close" data-dismiss="alert" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
    <p>
        Sometimes you might want to wrap column headers in grid. For this you just need to set a few CSS rules.
    </p>
    <p>
        index.css for class .s-Demo-BasicSamples-WrappedHeadersGrid.
        See rules in @Html.BasicSamplesSourceFile("/Serenity.Demo.BasicSamples/wwwroot/index.css") for how.
    </p>

    <p class="s-sample-sources"><b>Source Files:</b> 
        @Html.BasicSamplesSourceFile("Index.cshtml"), 
        @Html.BasicSamplesSourceFile("WrappedHeadersPage.ts")
        @Html.BasicSamplesSourceFile("/Serenity.Demo.BasicSamples/wwwroot/index.css")
    </p>
</div>

<div id="GridDiv"></div>

@Html.ModulePageInit(ESM.WrappedHeadersPage)