<!DOCTYPE html>
@{ 
   Func<string, IHtmlString> json = x => new HtmlString(Serenity.JSON.Stringify(x));
   var hideNav = Request["hideNav"] == "1";
   var logged = Serenity.Authorization.Username;
}
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en-us" class="no-js@(hideNav ? " no-navigation" : "")">
<!--<![endif]-->
<head>
    @{Html.RenderPartial("~/Views/Shared/_LayoutHead.cshtml");}
    @RenderSection("Head", false)
    <title>@ViewBag.Title</title>
</head>
<body id="s-@(ViewBag.PageId)Page" class="@(hideNav ? " no-navigation" : "has-layout-event")">
@if (hideNav)
{
    <script type="text/javascript">
        $(function () {
            @RenderSection("PageInitScript", false)
        });
    </script>
    <div id="page-outer-nonav">
    <div id="page-container" class="page-container-common">
        @RenderBody()
    </div>
    </div>
}
else
{
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">@LocalText.Get("Navigation.SiteTitle")</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        @Serenity.Authorization.Username
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="~/Account/Signout"><i class="fa fa-sign-out fa-fw"></i> @LocalText.Get("Navigation.LogoutLink")</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input id="SidebarSearch" type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        @{Html.RenderPartial("~/Views/Shared/LeftNavigation.cshtml", new BasicApplication.Navigation.NavigationModel()); }
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper" class="page-container-common">
            <div class="row">
                <div class="col-lg-12">
                    <div id="page-content" class="page-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
    $().ready(function () {
        $('#side-menu').metisMenu();
        new BasicApplication.Common.SidebarSearch($('#SidebarSearch'), $('#side-menu'));
        
        $(window).bind("load resize", function() {
            topOffset = 50;
            width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
            if (width < 768) {
                $('div.navbar-collapse').addClass('collapse')
                topOffset = 100; // 2-row-menu
            } else {
                $('div.navbar-collapse').removeClass('collapse')
            }

            height = (this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height;
            height = height - topOffset;
            if (height < 1) height = 1;
            if (height > topOffset) {
                $("#page-wrapper").css("min-height", (height) + "px");
            }

            if ($('body').hasClass('full-height-page'))
                $('#page-content').css("height", height + "px");

            $('body').triggerHandler('layout');
        });
        @RenderSection("PageInitScript", false)
    });
    </script>
}
</body>
</html>